/* TYPOGRAPHY */
#branding{z-index:10;}
#branding h1 a{position:relative; z-index:25;}

/* LAYOUT */
/* CENTER LAYOUT: needs this even though it didn't before */
body{text-align:center;}
#container{text-align:left;}

#content{height:250px;}

body.popup #container{width:557px; height:500px;}
body.popup #footer{width:485px;}/* 547px - 62px of left padding */

/* FORMS */

/* GRAPHICS */
#branding{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/tweetMyCity.png');}

/* FOOTER: protected by Veriplace */
.veriplace{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='images/veriplace.png');}

#header-about{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_about.png');}

#header-agreementForTMC{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_agreementForTMC.png');}

#header-faqs{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_faqs.png');}

#header-getStarted{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_getStarted.png');}

#header-privacyPolicy{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_privacyPolicy.png');}

#header-supportedPhones{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/header_supportedPhones.png');}

/* BUTTONS */
.getStarted{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/btn_getStarted.png');}

.iAcceptGetStarted{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/btn_getStarted.png');}

.ok{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/btn_ok.png');}

.submit{background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop', src='/tweetmycity/images/btn_submit.png');}