/* LAYOUT */
html{width:auto;}
body {margin:0 auto; background-color:#e3f2f8;}
body.popup{ width:580px; margin:0; padding:0;}

/* BRANDING */
/* logo and header are one */
#branding {margin-bottom:0; padding:0; border:0; position:relative;}/* see graphics.css for img */
body.popup #branding{width:557px;}

#branding h1{width:306px; height:60px; text-indent:-9999px; position:relative; top:120px; left:62px;}	
#branding h1 a{width:306px; height:60px; display:block; cursor:pointer;}

/* LAYOUT STRUCTURE */
#container {margin:0 auto; padding:0; width:950px; border:1px solid #75b6d2; background-color:#FFF;}

/* set min-height of popup, which matches height in js script, in 
   order to set a min-height for #content for there to be by default equal padding
	all around #content, with extra room to scroll down because all popups will have scroll bar by default */
body.popup #container{ max-width:557px; min-width:557px; width:557px; margin-bottom:0; min-height:500px;}

#content {margin-left:0; padding:75px 300px 50px 62px; min-height:250px; border:0; background-color: #FFF;}
#content.terms{padding-right:62px;}
body.popup #content{padding-bottom:12px;}/* need btm padding */

ol.ordered-list{list-style:inside decimal;}

/* FOOTER */
#footer {
margin-top:0;
padding: 10px;
padding-left:62px;
text-align:left;
border:0;
background-color:#75b6d2;
border-top:5px solid #71d6f2;
}

#footer ul li,
#branding ul li{margin:0 1em 0 0; display:inline; line-height:28px; display:block; float:left;}
#branding ul{position:absolute; right:0; bottom:15px; width:540px;}
#branding ul li{margin-right:1em;}
#branding ul li a{color:white; font-size:90%;}
#footer ul li#protectedBy{float:none; display:block; float:right;}

/* FOOTER: SHARED STYLES - protected by Veriplace */
.protectedBy{line-height:28px; height:28px; float:left; display:block;}
.veriplace{margin-left:.5em; float:left;}/* see GRAPHICS.CSS for Veriplace graphic styling */
