.background_image
{
 background:url(/tweetmycity/images/tweet_my_city_bg.png);  /* image to display */
 width:1000px;                     /* width of image */
 height:550px;                    /* height of image */
 overflow:hidden;                 /* so div won't change size */
 }
.text_properties
{
 padding-left:2px;                /* position of text in inner div */
 padding-top:0px;                 /* position of text in inner div */
 padding-right:2px;               /* position of text in inner div */
 padding-bottom:2px;              /* position of text in inner div */
 color:#000000;                   /* text color */
 font-size:12px;                  /* font size */
 font-family:Arial;               /* font family */
 width: 36%;
 margin-left:40px;                 /* left position of text */
 margin-top:220px;                 /* top position of text */
 }
