<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Veriplace Example</display-name>

  <context-param>
    <param-name>veriplace.properties-file</param-name>
    <param-value>/tmp/veriplace-example.properties</param-value>
  </context-param>

  <context-param>
    <param-name>veriplace.views.map.prefix</param-name>
    <param-value>/WEB-INF/jsp/</param-value>
  </context-param>

  <context-param>
    <!-- name of the view to display for the "please wait" condition -->
    <param-name>veriplace.views.map.waiting</param-name>
    <param-value>wait</param-value>
  </context-param>

  <context-param>
    <!-- name of the view to display for general error conditions -->
    <param-name>veriplace.views.map.error</param-name>
    <param-value>error</param-value>
  </context-param>

  <context-param>
    <param-name>veriplace.views.map.error.PositionFailure</param-name>
    <!-- name of the view to display for get location errors -->
    <param-value>positionfailure</param-value>
  </context-param>

  <context-param>
    <!-- name of the view to display for set location errors -->
    <param-name>veriplace.views.map.error.UpdateFailure</param-name>
    <param-value>updatefailure</param-value>
  </context-param>

  <servlet>
    <servlet-name>mapGetLocation</servlet-name>
    <servlet-class>com.veriplace.example.servlet.map.MapGetLocationServlet</servlet-class>
    <init-param>
      <param-name>veriplace.views</param-name>
      <param-value>map</param-value>
    </init-param>    
    <init-param>
      <param-name>veriplace.defaultview</param-name>
      <param-value>getlocation</param-value>
    </init-param>    
  </servlet>

  <servlet>
    <servlet-name>mapGetLocationImmediate</servlet-name>
    <servlet-class>com.veriplace.example.servlet.map.MapGetLocationImmediateServlet</servlet-class>
    <init-param>
      <param-name>veriplace.views</param-name>
      <param-value>map</param-value>
    </init-param>    
    <init-param>
      <param-name>resultPath</param-name>
      <param-value>locate</param-value>
    </init-param>    
  </servlet>

  <servlet>
    <servlet-name>mapFindUser</servlet-name>
    <servlet-class>com.veriplace.example.servlet.map.MapFindUserServlet</servlet-class>
    <init-param>
      <param-name>veriplace.views</param-name>
      <param-value>map</param-value>
    </init-param>    
    <init-param>
      <param-name>veriplace.defaultview</param-name>
      <param-value>finduser</param-value>
    </init-param>    
    <init-param>
      <param-name>resultPath</param-name>
      <param-value>locate</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>mapSetLocation</servlet-name>
    <servlet-class>com.veriplace.example.servlet.map.MapSetLocationServlet</servlet-class>
    <init-param>
      <param-name>veriplace.views</param-name>
      <param-value>map</param-value>
    </init-param>    
    <init-param>
      <param-name>veriplace.defaultview</param-name>
      <param-value>setlocation</param-value>
    </init-param>    
  </servlet>

  <servlet-mapping>
    <servlet-name>mapGetLocation</servlet-name>
    <url-pattern>/locate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mapGetLocationImmediate</servlet-name>
    <url-pattern>/locate-immediate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mapSetLocation</servlet-name>
    <url-pattern>/setlocation</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mapFindUser</servlet-name>
    <url-pattern>/finduser</url-pattern>
  </servlet-mapping>

</web-app>

<!--
  Local Variables:
    mode: nXML
    nxml-child-indent: 2
    nxml-attribute-indent: 2
    indent-tabs-mode: nil
  End:

  ex: set softtabstop=2 tabstop=2 expandtab:
  -->
